<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.testing.testforjob">
    <!-- Required for internet access. -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- Required for query operations (includes Profile starting at API 23). -->
    <uses-permission android:name="android.permission.READ_CONTACTS" /> <!-- Required for insert, update, delete operations (includes Profile starting at API 23). -->
    <uses-permission android:name="android.permission.WRITE_CONTACTS" /> <!-- Profile permissions have been removed since API 23. It is still required for API 22 and below. -->
    <uses-permission
        android:name="android.permission.READ_PROFILE"
        android:maxSdkVersion="22" />
    <uses-permission
        android:name="android.permission.WRITE_PROFILE"
        android:maxSdkVersion="22" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.Posts"
        tools:targetApi="31">
        <activity
            android:name=".presentation.SplashActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.contacts.ContactDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.Posts.Trans" />
        <activity
            android:name=".presentation.main.MainActivity"
            android:exported="false"></activity>
    </application>

</manifest>